# Local .terraform directories and runtime binaries
.terraform/
.terraform.*
ansible/hosts.ini
.pkrvars.hcl

# Terraform State files (These hold plain-text infrastructure data)
*.tfstate
*.tfstate*
*.tfstate.backup
tfplan

# Generated configurations containing plaintext secrets
kubernetes/apps/authentik.yaml
kubernetes/apps/mealie.yaml
kubernetes/apps/kuma-ingress-watcher.yaml
docker/media/docker-compose.yml
docker/backup/docker-compose.yml
docker/magic-frame/docker-compose.yml

# Any local private cryptographic keys or text files
*.txt
*.key
